

<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="page-footer font-small special-color-dark pt-4">-->

<!--  &lt;!&ndash; Footer Elements &ndash;&gt;-->
<!--  <div class="container">-->

<!--    &lt;!&ndash;Grid row&ndash;&gt;-->
<!--    <div class="row">-->

<!--      &lt;!&ndash;Grid column&ndash;&gt;-->
<!--      <div class="col-md-6 mb-4">-->

<!--        &lt;!&ndash; Form &ndash;&gt;-->
<!--        <form class="form-inline">-->
<!--          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"-->
<!--            aria-label="Search">-->
<!--          <i class="fas fa-search" aria-hidden="true"></i>-->
<!--        </form>-->
<!--        &lt;!&ndash; Form &ndash;&gt;-->

<!--      </div>-->

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
</style>

<footer class="footer">
    <div class="row">
        <div class="col-ms-4">
<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@nhdt?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Natalie Toombs"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Natalie Toombs</span></a>
            Done by AleksanKo, 2020
</div>
</div>
</footer>