{% extends "base.html" %}
{%load bootstrap%}
{%block header%}
<header class="navbar" style="background:none !important;">
    <span class="navbar-text"><h2>ToDo App</h2></span>
</header>
{%endblock header%}
{% block content %}
        <div class="container" style="height:76.3vh">
<div class="container" style="text-align:center!important;width:400px;background-color:black;height:520px;">
    <form method="POST" class="form-group" style="color:white">
	{% csrf_token %}
	{{form|bootstrap}}
	<button type="submit" class="btn btn-success">Sign Up</button>
    </form>
</div>
        </div>
{% endblock %}