{%extends 'base.html'%}
{% block content %}
<h1>ToDo list</h1>
<div class="container" style="margin-left:10px">
<form action="" method="post">
   {% csrf_token %}
    <p><label for="todo">Add a new todo:</label></br></p>
    {{form}}
    <button type="submit" class="btn btn-success">Add</button>
</form>
<div class="col-xs-12" style="text-align:left padding-left:0px">
    <ul>
    {% for item in all_items %}
    <li style="padding-bottom:10px">{{item.todo}}
    <form action='/deleteToDo/{{item.id}}/'
          style="display:inline;"
          method="post">
   {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    </li>
    {% endfor %}
</ul>
</div>
    </div>
{% endblock %}